body {
    font-family: 'Questrial', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    color: #3a3a3a;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1rem;
}


/* INPUTS */

label {
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    border: 1px solid #e4e4e4;
    padding: 12px;
    font-size: 20px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 20px;
}

input::-webkit-input-placeholder,
input::placeholder {
    color: #bdbdbd;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: rgb(245, 124, 39);
}

select {
    width: 100%;
    border: 1px solid #e4e4e4;
    padding: 12px;
    font-size: 20px;
    box-sizing: border-box;
    outline: none;
    background-color: inherit;
}

select:focus {
    border-color: rgb(245, 124, 39);
}

input[type="submit"],
button {
    background-color: rgb(255, 105, 0);
    border: 0;
    padding: 12px 40px;
    color: #eee;
    font-size: 20px;
    border-radius: 2px;
    outline: none;
    box-shadow: 1px 1px 1px 1px #f0f0f0;
    position: relative;
}

input[type="submit"]:hover,
button:hover {
    background-color: #ff7c21;
    box-shadow: 1px 1px 1px 1px #bbb;
    cursor: pointer;
}

button.loading::before {
    content: url(/icons/box.svg);
    animation: 2s infinite forwards spin;
    animation-timing-function: linear;
    display: block;
    height: 24px;
    position: absolute;
    left: calc(50% - 12px);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button.loading>span {
    opacity: 0;
}


/* TRANSITIONS */

.fade-enter-active {
    transition: opacity .2s, transform .2s;
    transition-delay: .2s;
}

.fade-leave-active {
    transition: opacity .2s;
}

.fade-enter {
    transform: translateY(30px);
    opacity: 0;
}

.fade-leave-to {
    opacity: 0
}


/* GRID */

div.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

div.grid>.new-row {
    grid-column: 1;
}


/* SIDEBAR */

div.sidebar {
    background-color: #232323;
    color: #ccc;
    position: fixed;
    left: 0px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: left 200ms;
    z-index: 1;
}

div.sidebar.hidebar {
    left: -80px;
}

div.sidebar>a {
    padding: 13px 28px 10px;
    align-self: center;
    outline: none;
    display: flex;
    color: #ccc;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    transition: 500ms padding 150ms;
}

div.sidebar>a>span {
    margin-top: 7px;
    margin-right: auto;
    width: 0px;
    padding-left: 0px;
    transition: 500ms width 150ms, 500ms padding-left 150ms;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}

div.sidebar:hover>a>span {
    width: 155px;
    padding-left: 10px;
}

div.sidebar:hover>a {
    padding: 13px 10px 10px;
}

div.sidebar>a.new::before {
    content: url(/icons/plus-square.svg);
}

div.sidebar>a.containers::before {
    content: url(/icons/box.svg);
}

div.sidebar>a.images::before {
    content: url(/icons/layers.svg);
}

div.sidebar>a.networking::before {
    content: url(/icons/activity.svg);
}

div.sidebar>a.host::before {
    content: url(/icons/server.svg);
}

div.sidebar>a.settings::before {
    content: url(/icons/settings.svg);
}

div.sidebar>a.user {
    margin-top: auto;
}

div.sidebar>a.user::before {
    content: url(/icons/user.svg);
}

div.sidebar>a:hover {
    cursor: pointer;
    background-color: #383838;
}

div.sidebar>a.active {
    border-right: solid 3px rgb(245, 124, 39);
    cursor: default;
    background-color: #2b2b2b;
}

div.sidebar:hover ~ main {
    margin-left: 230px;
}

/* MAIN */

main {
    transition: 500ms margin-left 150ms;
    margin: 20px 20px 20px 100px;
}

div.panel {
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px #f0f0f0;
}

/* CONTAINERS */

.containers {
    display: flex;
}

.containers>div {
    flex: 50%;
}

.containers > .list {
    
}

.containers > .list > .container:hover{
    background-color: #D5EDFF;
    cursor: pointer;
}

.containers > .list > .container.selected{
    background-color: #3194e4;
    color: white;
}

.containers > .container-board {
    
}
.containers > .container-board.active {
    border: 1px solid #3194e4;
}

.empty-containers {
    text-align: center;
    margin-top: 60px;
}

/* LOGIN */

div.login {
    width: 300px;
    margin: 200px auto;
}


/* FOOTER */

footer {}