body {
    font-family: 'Questrial', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}

/* SIDEBAR */
sidebar{
    background-color: #232323;
    color: #ccc;
    width: 80px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

sidebar>a.new {
    padding: 28px;
    align-self: center;
}

sidebar>a.new::after {
    content: url(/icons/plus-square.svg);
}

sidebar>a.containers {
    padding: 28px;
    align-self: center;
}

sidebar>a.containers::after {
    content: url(/icons/box.svg);
}

sidebar>a.images {
    padding: 28px;
    align-self: center;
}

sidebar>a.images::after {
    content: url(/icons/layers.svg);
}


sidebar>a.networking {
    padding: 28px;
    align-self: center;
}

sidebar>a.networking::after {
    content: url(/icons/activity.svg);
}

sidebar>a.host {
    padding: 28px;
    align-self: center;
}

sidebar>a.host::after {
    content: url(/icons/server.svg);
}

sidebar>a.settings {
    padding: 28px;
    align-self: center;
}

sidebar>a.settings::after {
    content: url(/icons/settings.svg);
}

sidebar>a.user {
    padding: 28px;
    align-self: center;
    margin-top: auto;
}

sidebar>a.user::after {
    content: url(/icons/user.svg);
}

sidebar>a:hover {
    cursor: pointer;
    background-color: #383838;
}

sidebar>a.active {
    border-right: solid 3px rgb(245, 124, 39);
    padding-right: 25px;
    cursor: default;
    background-color: #2b2b2b;
}

/* MAIN */
main {
    margin: 20px 20px 20px 100px;
}

div.search-bar {
    margin-bottom: 20px;
}

div.search-bar > input[type="text"]{
    width: 100%;
    border: 1px solid #e4e4e4;
    padding: 14px;
    font-size: 20px;
    box-sizing: border-box;
    outline: none;
}

div.search-bar > input[type="text"]::-webkit-input-placeholder {
    color: #bdbdbd;
}

div.search-bar > input[type="text"]:focus {
    border-color: rgb(245, 124, 39);
}

div.panel {
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px #f0f0f0;
}

footer {

}